.card {
  position: relative;
  width: 100%;
  height: 280px;  
  transform-style: preserve-3d;
  transform: rotateX(180deg);
  transition: transform 0.6s ease-in-out;
  border: 7px solid aqua;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(231, 82, 8);
  transform: rotateX(180deg);
  backface-visibility: hidden;
}

.card-show{
  transform: rotateX(0);
}